
.gr{
	font-size: 14px;
}
.gr-2{
	font-size: 20px;
}
.m-space{
	padding-top: 10px;
}

input{
   text-align:center;
}

.centered-form .panel{
	background: white;
	/*box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;*/
	border-width: 0px;
	border-color: white;
	padding-bottom: 0px;
}

.fields{
	background-color: #efefef;
	border-width: 0px;
	font-weight: bold;
}

h4{
	color: #838383;
}

.button-checkbox{
	border-width: 0px;
	background: red;	
}

