	
	.caja{
		margin-top: 0px;
		margin-left: 45px;
		background: #efefef;
		padding: 10px;
		height: 200px;
		width: 230px;
		border-radius: 10px;
	}

	.caja-2{
		margin-top: 50px;
		margin-left: 45px;
		background: #efefef;
		padding: 10px;
		height: 190px;
		width: 230px;
		border-radius: 10px;
	}

	.margin{
		margin-left: 45px;
		margin-top: 20px;
	}

	.m-margin{
		margin-top: 10px;
	}
	
	.caja-azul{
		background: #25acd9;
		color: white;
	}

	.caja-h{
		margin-top: 20px;
		margin-left: 45px;
		background: #efefef;
		padding: 25px 50px 25px 25px;
		height: 90px;
		width:800px;
		border-radius: 10px;
	}

	.caja-h-1{
		margin-top: 50px;
		margin-left: 45px;
		background: #efefef;
		padding: 25px 50px 25px 25px;
		height: 90px;
		width:800px;
		border-radius: 10px;
	}

	.row a:hover{
		text-decoration: none;
	} 

	.row a:focus{
		text-decoration: none;
	} 

	.space-inside{
		margin-top: 10px;
	}

	.space-inside-p{
		margin-top: 10px;
	}

	.space-outside{
		margin-top: 22px;
	}

	.yellow{
		color: #e8ba00;
		font-size: 30px;
	}
	.yellow-modal{
		color: #e8ba00;
		font-size: 20px;
	}
	.red{
		color: #F44141;
		font-size: 30px;
	}
	.blue-box{
		color: #25acd9;
		font-weight: bold;
		font-size: 15px;
	}
	.gray{
		color: #cacaca;
	}		
	.gray-box{
		color: #cacaca;
		font-size: 30px;
	}
	.gray-modal{
		color: #cacaca;
		font-size: 20px;
	}
	.white{
		color:#F1EFEF;
	}
	.white-box{
		color:#F1EFEF;
		font-weight: bold;
		font-size: 15px;
	}

	.boton {
		background-color: #FACC2E;
		padding: 20px;
		border-bottom: 6px solid #FE9A2E;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		margin-right: 25px;
		transition: all 200ms linear;
	}

	.boton:hover {
		border-bottom: 0 none;
		background-color: #FE9A2E;
		border-top: 6px solid #FACC2E;
	}

	.boton:last-of-type{
		margin-right: 0;
	}